*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}
header{
    margin: 0;
}
header img{
    width: 100%;
    height: 100%;
    background: red;
    margin-bottom: -5px;
}
nav{
    line-height: 25px;
    background: blue;
    height: 30px;
}
/*-------------------article---------------------*/
.conten{
    width: 100%;
    height: 100%;
    min-height: auto;
}
.conten article{
    width: 73%;
    margin-top: 25px;
    float: left;
    min-height: auto;
    margin-bottom: 10px;
}
aside{
    margin-left: 20px;
    margin-top: 25px;
    float: right;
    width: 25%;
    min-height: auto;
    margin-bottom: 10px;
}
.conten article iframe[name=page]{
  width: 100%; 
  height: 1600px;

}
article img{
    width: 100%;
}
article div a{
    text-decoration: none;
    color: black;
}
.top-page{
    width: 200px;
    border: 2px solid rgba(0, 0, 0, 0.142);
    padding-bottom: 5px;
}
.vli{
    padding: 10px 0px;

}
/*--------------------------------------------------*/
.intro{
    background: green;
    width: 100%;
    padding: 5px;
}
.panel-page-body{
    margin-bottom: 20px;
    padding: 0px 5px;
    border: 1px solid green;
}
.panel-page-body div{
    display: flex;
}
.p{
    margin: 2px;
}
.panel-page-body img{
    width: 25%;
    height: 20%;
    padding-top: 20px;
    padding-right: 2%;
}
.coment{
    margin-top: -10px;
    margin-bottom: 10px;
}
/*----------------------MENU MẠ---------------------*/
nav{
    margin: 0;
    background-color: rgba(255, 187, 0, 0.848);
    height: 100%;
}
nav ul{
    margin: 0;
    text-align: center;
    list-style: none;
}
nav ul li{ 
    display: inline-block;
    border: 2px solid rgba(210, 156, 8, 0.516);
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 5px;
}
nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color:black;
    display:inline-block;
}
nav ul li a:hover{
    color: white;
}
.menu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
/*-----------------MENU CON----------------*/
.menu a{
    display: block;
}
.menu>ul>li{
    display: inline-block;
    position: relative;
}
.menu>ul>li>a{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}

.menu ul ul{
    position: absolute;
    display: none;
}
.menu li:hover>ul{
    display: block;
    background-color: rgba(255, 187, 0, 0.848);
}
.menu li>ul a:hover{
    color: white;
}
/*----------------FOOTER----------------*/
footer{
    clear: both;
    text-align: center;
    color: black;
    font-size: 16px;
    padding-block: 5px;
}
.footerh3{
    padding-bottom: 15px;
    color: rgb(0, 16, 245);
}
footer p{
    padding-bottom: 5px;
    color: rgb(0, 16, 245);
}
/*-----------------PANEL column-item one---------------------*/

.panel-titel{
    height: 100%;
    background: rgba(255, 187, 0, 0.848);
    text-align: center;
    padding: 5px;
}
.column-item .panel-body-one{
    height: 100%;
    border: 2px solid black;
    margin-top: 10px;
    box-shadow: 3px 4px 5px rgba(255, 187, 0, 0.848);
    padding: 5px;
}
/*---------------PANEL DEFAULT---------------*/
.panel-default{
    margin-top: 35px;
}
.panel-default .panel-heading{
    padding: 5px;
    border:  solid rgba(255, 187, 0, 0.848);
    background: rgba(255, 187, 0, 0.848);
}
.panel-default .panel-body{
    width: 100%;
    border: 1px solid rgba(255, 187, 0, 0.848);
}
.panel-default .panel-body div{
    display: flex;
}
.panel-default .panel-body div a{
    text-decoration: none;
    color: black;
    margin: 5px;
    display: block;
    background: rgb(103, 168, 173);
    padding: 5px;
}   
.panel-default div img{
    width: 40%;
    height: 30%;
    float: left;
    margin-top: 10px;
}
.panel-default div div p{
    width: 60%;
    font-size: 15px;
}
.panel-default .panel-body p{
    padding: 5px;
    margin: 0;
}
.chu{
    text-decoration: none;
    font-size: 17px;
}
.video{
    margin: 5px;
    margin-bottom: -50px;
}
.so{
    margin: 0px;
    padding-left: 10px;
}
/*---------------------------*/
.tkb>a{
    text-decoration: none;
    color: black;
    border: solid 1px black;
    display: block;
    padding: 5px;
    font-size: 16px;
}
.tchu{
    width: 170px;
}
.tbb{
    width: 210px;
}